
<nav class="custom-nav">
    <!-- Añade la clase personalizada -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="nav-wrapper">
      <a class="brand-logo">
        <img src="https://i.imgur.com/Xrn81hA.png" alt="Logo">
      </a>
      <li class="center-text"> <a class="nav-text">{{"Balneario Atonaltzin" | translate}}</a></li>
      <ul id="nav-mobile" class="right hide-one-med-and-down" *ngIf="ID_Cliente == undefined">
        <li><a class="dropdown-trigger" data-target="dropdown3">{{"Idioma" | translate}}<i
          class="material-icons right">arrow_drop_down</i></a></li>
        <li><a id="user-icon" class="btn white lighten-2 dark-text" (click)="redireccion('login')">{{"Iniciar sesion" | translate}}</a></li>
    
      </ul>
      <ul id="nav-mobile" class="right hide-one-med-and-down" *ngIf="ID_Cliente != undefined">
        <li><a class="dropdown-trigger" data-target="dropdown3">{{"Idioma" | translate}}<i
          class="material-icons right">arrow_drop_down</i></a></li>
        <li *ngIf="Tipo_Usuario == 'usuario'"><a id="user-icon" class="btn white lighten-2 dark-text"
          (click)="gotoReservaciones()">{{"Mis reservaciones"| translate}}</a></li>
        <li><a id="user-icon" class="btn blue lighten-2" (click)="logout()"><i class="material-icons">exit_to_app</i></a></li>
        
      </ul>
      <ul id="dropdown3" class="dropdown-content idioma-nav">
        <li (click)="setIdioma(1)"><a>{{"Ingles"| translate}}</a></li>
        <li (click)="setIdioma(2)"><a>{{"Español"| translate}}</a></li>
        </ul>
</div>
</nav>