<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Slider</title>
  <style>
    /* Estilo adicional */
    .btn-border {
      border: 2px solid #2196F3;
      /* Cambiar el color de fondo de la paginación */
    }

    /* Cambiar el color de fondo de la paginación */
  </style>
</head>

<body>
    <a href="javascript:void(0);" class="waves-effect btn btn-border" (click)="crearcabana()">
        <i class="material-icons left">add</i> {{'Crear cabaña' | translate}}
    </a>

    <table class="default" *ngIf="cabanas !== undefined && cabanas.length > 0">
      <tr>
          <th>{{"Fotos"| translate}}</th>
          <th>{{'Nombre' | translate}}</th>
          <th>{{'Descripcion' | translate}}</th>
          <th>{{'Precio por noche' | translate}}</th>
          <th>{{'Capacidad' | translate}}</th>
      </tr>
        <tr *ngFor="let cabana of cabanas |
        paginate: {
          itemsPerPage: pageSize,
          currentPage: p };let i=index">
            <td><a href="javascript: void(0);" class="space" (click)="mostrarImagenes(cabana.ID_Cabana)">
              <i class="material-icons">photo_library</i></a></td>
            <td>{{ cabana.Nombre }}</td>
            <td *ngIf="idioma == 2">{{ cabana.Descripcion }}</td>
            <td *ngIf="idioma == 1">{{ cabana.Description }} {{ idioma}}</td>
            <td>{{ cabana.PrecioPorNoche }}</td>
            <td>{{ cabana.Capacidad }}</td>
            <td>
              <td><a href="javascript: void(0);" class="space" (click)="actualizarCabana(cabana.ID_Cabana)">
                <i class="material-icons">edit</i></a></td>
                <td><a href="javascript: void(0);" class="material-icons" (click)="addImagen(cabana.ID_Cabana)"
                  style="color: rgb(49, 111, 226);">
                  <i class="material-icons">imagen</i></a></td>        
                <td><a href="javascript: void(0);" class="material-icons"
                  (click)="eliminarCabana(cabana.ID_Cabana)" style="color: red;">
                  <i class="material-icons">delete_forever</i></a></td>
        </tr>
    </table>
    <div class="blue-text text-darken-2">
      <pagination-controls class="col s6" (pageChange)="p = ($event)"
      previousLabel="{{'Anterior' | translate}}" nextLabel="{{'Siguiente' | translate}} ">
      </pagination-controls>
    </div>
<div id="modalModificarCabana" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">{{'Actualizar cabaña' |translate}}</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="nombre_usuario">{{'Nombre' | translate}}</label>
          <input id="nombre_cabana" [(ngModel)]="cabana.Nombre" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">{{'ID Cabana' | translate}} </label>
          <input [(ngModel)]="cabana.ID_Cabana" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">{{'Descripcion' | translate}} </label>
          <input [(ngModel)]="cabana.Descripcion" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <label class="active">{{"Precio por noche" | translate}}</label>

            <input [(ngModel)]="cabana.PrecioPorNoche" type="text" class="validate">
          </div>
          <div class="input-field col s6">
            <label class="active">{{'Capacidad' | translate}} </label>
            <input [(ngModel)]="cabana.Capacidad" type="text" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="col s6 center">
            <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
              (click)="guardarActualizarCabana()" value="{{'Enviar'|translate}}">
          </div>
          <div class="col s6 center">
            <a class="modal-action modal-close waves-effect btn-large brown lighten-3
  black-text">{{"Cancelar" |translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="modalCrearCabana" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">{{'Crear cabaña' | translate}}</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="nombre_usuario">{{'Nombre' | translate}} </label>
          <input id="nombre_usuario" [(ngModel)]="cabanaNueva.Nombre" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <label class="active">{{'Descripcion' | translate}} </label>
            <input [(ngModel)]="cabanaNueva.Descripcion" type="text" class="validate">
          </div>
          <div class="input-field col s6">
              <label class="active">{{"Precio por noche" | translate}}</label>
              <input [(ngModel)]="cabanaNueva.PrecioPorNoche" type="text" class="validate">
            </div>
            <div class="input-field col s6">
              <label class="active">{{'Capacidad' | translate}} </label>
              <input [(ngModel)]="cabanaNueva.Capacidad" type="text" class="validate">
            </div>
            <!--<div class="input-field col s6">
              <label class="active">Ubicacion </label>
              <input [(ngModel)]="cabanaNueva.Ubicacion" type="text" class="validate">
            </div>-->
      </div>
        <div class="row">
          <div class="col s6 center">
            <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
              (click)="guardarNuevaCabana()" value="{{'Enviar'|translate}}">
          </div>
          <div class="col s6 center">
            <a class="modal-action modal-close waves-effect btn-large brown lighten-3
  black-text">{{"Cancelar" |translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal para Agregar Imagen-->
  <div id="modalAgregarImagen" class="modal">
    <div class="modal-content">
      <div class="row" style="margin-bottom: 0px !important;">
        <div class="col s12">
          <h5 class="center">{{'Agregar Imagen'| translate}}</h5>
        </div>
      </div>
      <div style="border: .5px solid #78909c; padding: 10px;">
        <div class="row">
          <div class="input-field col s12">
            <label class="active" for="nombre_cliente">{{'Imagenes'|translate}} </label>
            <input type="file" (change)="cargandoImagen($event.target)" multiple>
          </div>
        </div>
        <div class="row">
          <div class="col s6 center">
            <a class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text"
              (click)="guardarActualizarCabana()">{{"Enviar" | translate}}</a>
          </div>
          <div class="col s6 center">
            <a class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text">{{"Cancelar"|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal para Mostrar Imagenes-->
  <div id="modalmostrarImagenes" class="modal">
    <div class="modal-content">
      <div class="row" style="margin-bottom: 0px !important;">
        <div class="col s12">
          <h5 class="center">{{'Imagenes de la cabaña'|translate}}</h5>
        </div>
      </div>
      <div style="border: .5px solid #78909c; padding: 10px;">
        <table class="default" *ngIf="cabana.foto == 1 && imagenescabana !== undefined && imagenescabana.length > 0">
          <tr *ngFor="let imagen of imagenescabana">
            <td>
              <img class="center-image" *ngIf="cabana.foto == 1" width="512" src="{{liga}}/cabanas/{{imagen.ID_Cabana}}_{{imagen.id}}.jpg" alt="Imagen de la cabaña">
            </td>
          </tr>
        </table>
        <img class="center-image" *ngIf="cabana.foto == 0" width="512" src="{{liga}}/cabanas/0.jpg" alt="No hay imagen de la cabaña">             
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>