<a href="javascript:void(0);" class="waves-effect btn btn-border"
  (click)="AgregarOferta()">
  <i class="material-icons left">add</i> {{'Crear Ofertas' |translate}}
</a>

<table class="default" *ngIf="ofertas != undefined && ofertas.length > 0">
  <tr>
    <th>{{'Id Oferta' | translate}}</th>
    <th>{{'Id Producto' | translate}}</th>
    <th>{{'Descuento' | translate}}</th>
    <th>{{'Fecha Inicio' | translate}}</th>
    <th>{{'Fecha Fin' | translate}}</th>
  </tr>
  <tr *ngFor="let oferta of ofertas |
    paginate: {
      itemsPerPage: pageSize,
      currentPage: p };let i=index">
    <td>{{ oferta.id_promocion }}</td>
    <td>{{ oferta.id_cabana }}</td>
    <td>{{ oferta.descuento }} %</td>
    <td>{{ oferta.Fecha_inicio }}</td>
    <td>{{ oferta.Fecha_fin }}</td>
    <td>
      <a href="javascript: void(0);" class="space"
        (click)="EditarOferta(oferta.id_promocion)">
        <i class="material-icons">edit</i></a>
      <a href="javascript: void(0);" class="material-icons"
        (click)="EliminarOferta(oferta.id_promocion)" style="color: red;">
        <i class="material-icons">delete_forever</i></a>
    </td>
  </tr>
</table>
<div class="blue-text text-darken-2">
  <pagination-controls class="col s6" (pageChange)="p = ($event)"
  previousLabel="{{'Anterior' | translate}}" nextLabel="{{'Siguiente' | translate}} ">
  </pagination-controls>
</div>

<div id="modalModificarOfertas" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">{{'Actualizar Oferta' | translate}}</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div>
          <label for="">{{'Cabañas' | translate}}</label>
          <select [(ngModel)]="oferta.id_cabana" *ngIf="cabanas != undefined" class="browser-default">
            <option *ngFor="let cabana of cabanas" [value]="cabana.ID_Cabana">{{cabana.Nombre}}</option>
          </select>
        </div>
        <div class="input-field col s12">
          <label class="active" for="nombre_oferta">{{'Descuento %' | translate}}</label>
          <input id="nombre_oferta" [(ngModel)]="oferta.descuento" type="text"
            class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">{{'Fecha Inicio' | translate}}</label>
          <input [(ngModel)]="oferta.Fecha_inicio" type="date" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">{{'Fecha Fin' | translate}}</label>
          <input [(ngModel)]="oferta.Fecha_fin" type="date" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s6 center">
          <input type="submit"
            class="waves-effect btn-large brown lighten-3 modal-close"
            (click)="ActualizarOferta()" value="Enviar">
        </div>
        <div class="col s6 center">
          <a
            class="modal-action modal-close waves-effect btn-large brown lighten-3
    black-text">{{'Cancelar' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalCrearOfertas" class="modal">
  <div class="modal-content">
    <div class="row " style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">{{'Crear Oferta' | translate}}</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div>
          <label for="">{{'Cabañas' | translate}}</label>
          <select [(ngModel)]="oferta.id_cabana" *ngIf="cabanas != undefined" class="browser-default">
            <option *ngFor="let cabana of cabanas" [value]="cabana.ID_Cabana">{{cabana.Nombre}}</option>
          </select>
        </div>
        <div class="input-field col s6">
          <label class="active">{{'Descuento %' | translate}}</label>
          <input id="nombre_oferta" [(ngModel)]="ofertaNuevo.descuento" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">{{'Fecha Inicio' | translate}}</label>
          <input [(ngModel)]="ofertaNuevo.Fecha_inicio" type="date" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">{{'Fecha Fin' | translate}}</label>
          <input [(ngModel)]="ofertaNuevo.Fecha_fin" type="date" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s6 center">
          <input type="submit"
            class="waves-effect btn-large brown lighten-3 modal-close"
            (click)="CrearOferta()" value="{{'Enviar' | translate}}">
        </div>
        <div class="col s6 center">
          <a
            class="modal-action modal-close waves-effect btn-large brown lighten-3
    black-text">{{'Cancelar' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>